.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.intro__header {
  font-family: "Clash Display";
  width: 80%;
  font-weight: 600;
  font-size: 5em;
  line-height: 1.6;
  text-align: center;
}
.intro__text {
  width: 70%;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 1.75em;
  line-height: 140%;
  text-align: center;
  color: #292929;
}
.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 101%;
  max-height: max-content;
  margin: 0%;
  padding: 0%;
}
#img1 {
  height: 20.75em;
}
#img2 {
  height: 26.75em;
}
#img3 {
  position: relative;
  bottom: 2em;
  height: 27.75em;
}
#img4 {
  height: 26.75em;
}
#img5 {
  height: 26.75em;
}
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: max-content;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 30vh;
}
.products__header {
  width: 90%;
  font-style: normal;
  font-weight: 500;
  font-size: 3em;
  text-align: left;
}
hr {
  width: 100%;
  border: 1px solid #333333;
}
.product {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product__img {
  width: 40vw;
  height: 305px;
}
.product__details {
  width: 100%;
  margin: 15%;
}
.creators {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.creators__imgs {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin-left: 0px;
}
.creator {
  height: 3.1875em;
  width: 3.1875em;
  list-style: none;
  background-color: #292929;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -1.5625em;
}
.details__btn {
  box-sizing: border-box;
  background-color: #ffffff;
  width: 78px;
  height: 78px;
  border: 0.5px solid #333333;
  border-radius: 50%;
  justify-self: flex-end;
}
.upcoming {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    99.99deg,
    #4693ed -26.21%,
    #79c2d2 22.16%,
    rgba(192, 86, 9, 0.49) 111.62%
  );
  padding-left: 5%;
  padding-right: 5%;
}
.Uheader__container {
  width: max-content;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.upcoming__header {
  font-style: normal;
  font-weight: 500;
  font-size: 2.5em;
  line-height: 2.0625em;
  text-align: left;
  color: white;
  margin-top: 25px;
}
.arrow3 {
  width: 100%;
  height: 0px;
  border: 0.8px solid #ffffff;
}
.upcoming__product {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),
    linear-gradient(
      104.57deg,
      rgba(0, 0, 0, 0) 21.03%,
      rgba(0, 0, 0, 0.2) 56.5%,
      rgba(0, 0, 0, 0.2) 93.84%
    ),
    url(../assets/Rectangle91.webp);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 2px solid white;
}
.product__details {
  margin: 3.125em 3.125em 3.125em 3.125em;
}
.product__name {
  width: 35%;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 1.82695625em;
  line-height: 1.0625em;
  text-transform: uppercase;
  color: #ffffff;
  display: grid;
  grid-template-columns: 7% 93%;
  margin-bottom: 0%;
}
.dot {
  background-color: white;
  border-radius: 50%;
  width: 0.6em;
  height: 0.6em;
  list-style: none;
  margin-top: 0.2em;
}
#product__name {
  list-style: none;
  margin-left: 0.5em;
}
.number__time {
  display: flex;
  align-items: center;
}

.number {
  width: 1em;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 4.2257625em;
  text-transform: uppercase;
  margin-right: 0.2em;
  color: #e1e1e1;
}
.time {
  width: 16em;
  height: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.84125em;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.product__info {
  width: 90%;
  display: grid;
  grid-template-columns: 70% 15% 15%;
  margin-top: -20px;
  align-items: center;
}
.product__text {
  width: 39.303125em;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 15.8576px;
  line-height: 21px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  margin-left: 4.6875em;
  color: #ffffff;
}
.more {
  width: 6.25em;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 32px;
  text-decoration-line: underline;
  color: #ffffff;
}
.reminder {
  box-sizing: border-box;
  width: 11.3125em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border: 1px solid #ffffff;
  border-radius: 0.625em;
}
.slider__controls {
  width: 75em;
  display: flex;
  margin-top: 0.625em;
  align-items: center;
  justify-content: space-between;
}
.slider {
  justify-self: flex-start;
}
.slider__btns {
  justify-self: flex-end;
}
.slider__btn {
  box-sizing: border-box;
  border-radius: 50%;
  margin: 0.3125em;
  width: 5em;
  height: 5em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0.485646875em 0.485646875em 0.72846875em rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(0.485646875em);
  border: 2px solid white;
}
.explore {
  margin-top: 15%;
  margin-bottom: 15%;
  margin-bottom: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.explore__market {
  height: max-content;
  width: 90%;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.market__text {
  font-weight: 500;
  font-size: 3em;
  line-height: 1.0625em;
  color: #333333;
}
.explore__auctions {
  height: max-content;
  width: 90%;
  border-bottom: 1px solid #333333;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.auctions__text {
  font-weight: 500;
  font-size: 3em;
  line-height: 1.0625em;
  color: #333333;
}
.top__creators {
  height: 100vh;
  width: 100%;
  background-color: #292929;
}
footer {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter {
  border: 1px solid #292929;
  width: 97%;
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter__header {
  font-family: "san-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 30.2105px;
  line-height: 39px;
  text-transform: uppercase;
  color: #333333;
}
.newsletter__text {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #333333;
}
.newsletter__input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}
#newsletter__input {
  font-family: "san-serif";
  height: 3.75em;
  width: 31%;
  border: 1px solid #333333;
  text-align: center;
  margin-right: 1.5%;
}
.newsletter__btn {
  font-family: "san-serif";
  width: 11.351875em;
  height: 4.09em;
  box-sizing: border-box;
  color: #ffffff;
  background: #272727;
  border: 1px solid #333333;
}
.footer__bottom {
  margin-top: 3%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#footer__logo {
  width: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 600;
  font-size: 3em;
  color: #292929;
}
#footer__nav {
  width: 33.33%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.ftr__nav__item {
  margin: 1em;
  color: #272727;
  text-decoration: none;
  text-align: center;
}
.ftr__nav__item:hover {
  text-shadow: 0.2px 0.2px #686666;
}
.ftr__nav__item:visited {
  color: #918e8e;
}
.footer__contacts {
  width: 36.66%;
}
#email {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  color: #333333;
  display: flex;
  margin-top: 6%;
  margin-bottom: 15%;
}
#location {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  color: #333333;
  display: flex;
  flex-direction: row;
}
.contacts__img {
  margin-right: 5%;
}
.contacts__link {
  text-decoration: none;
  color: #333333;
}
.copyright {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 88%;
  letter-spacing: -0.02em;
  color: #333333;
  opacity: 0.5;
  margin-top: 4%;
  margin-bottom: 1%;
}
