.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__header {
  font-family: "Clash Display";
  width: 1068px;
  font-weight: 600;
  font-size: 80px;
  line-height: 1.6;
  text-align: center;
}
.intro__text {
  width: 926px;
  height: 88px;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 44px;
  text-align: center;
  color: #292929;
}
.carousel {
  height: 505px;
  width: 1048px;
  background-color: #999999;
}
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: max-content;
}
.products__header {
  width: 395px;
  height: 65px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 65px;
}
hr {
  width: 1200.06px;
  border: 0.5px solid #333333;
}
.product {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product__img {
  width: 610px;
  height: 305px;
}
.product__details {
  width: 590px;
  margin: 15px;
}
